In [1]:
# Get rid of the # in pip install to install unidecode - to run encoding
# !pip install unidecode

import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
from unidecode import unidecode

In [2]:
customer = pd.read_csv(r'olist_customers_dataset.csv')
geolocation = pd.read_csv(r'olist_geolocation_dataset.csv', index_col=0, encoding='utf_8')
order_items = pd.read_csv(r'olist_order_items_dataset.csv')
order_payments = pd.read_csv(r'olist_order_payments_dataset.csv' )
reviews = pd.read_csv(r'olist_order_reviews_dataset.csv')
orders = pd.read_csv(r'olist_orders_dataset.csv')
products = pd.read_csv(r'olist_products_dataset.csv')
sellers = pd.read_csv(r'olist_sellers_dataset.csv')
product_category_name_translation = pd.read_csv(r'product_category_name_translation.csv', index_col = 0)


orders.head()

C:\ProgramData\Anaconda3\envs\BIDA\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [3]:
#Create new id column for order_payments

order_payments['order_payment_id'] = order_payments.index + 1

order_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value,order_payment_id
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,1
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,2
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,3
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,4
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45,5
...,...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31,103882
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80,103883
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77,103884
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54,103885
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58,103886

In [4]:
#merging product_category_name_translation column to products

products = pd.merge(products,product_category_name_translation,how='outer',on=['product_category_name'])

products

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,39.0,346.0,2.0,400.0,27.0,5.0,20.0,perfumery
2,0d009643171aee696f4733340bc2fdd0,perfumaria,52.0,150.0,1.0,422.0,21.0,16.0,18.0,perfumery
3,b1eae565a61935e0011ee7682fef9dc9,perfumaria,49.0,460.0,2.0,267.0,17.0,13.0,17.0,perfumery
4,8da90b37f0fb171b4877c124f965b1f6,perfumaria,56.0,733.0,3.0,377.0,18.0,13.0,15.0,perfumery
...,...,...,...,...,...,...,...,...,...,...
32946,13b25797ad1e6d6c7cd3cbeb35f8ee7a,moveis_colchao_e_estofado,44.0,348.0,1.0,18250.0,25.0,25.0,25.0,furniture_mattress_and_upholstery
32947,dc36a7859b743d8610a2bbbaea26ece9,moveis_colchao_e_estofado,29.0,2073.0,2.0,2500.0,41.0,21.0,21.0,furniture_mattress_and_upholstery
32948,107fde0930956120d1e13dd1062fbb46,moveis_colchao_e_estofado,51.0,418.0,1.0,30000.0,60.0,73.0,60.0,furniture_mattress_and_upholstery
32949,726b4e18f00255e2e63491bcba3f60b8,moveis_colchao_e_estofado,41.0,866.0,1.0,1700.0,70.0,10.0,100.0,furniture_mattress_and_upholstery
32950,1dceebcc5f23c02ea23e16d5bedca000,cds_dvds_musicais,47.0,117.0,2.0,550.0,35.0,15.0,25.0,cds_dvds_musicals

In [5]:
# group by all columns except for the order_item_id, this will collate duplicate rows and let us know the frequency

order_items = order_items.groupby(["order_id", "product_id", "seller_id", "shipping_limit_date", "price", "freight_value"]).size()

In [6]:
# above code will return a series. So reset index will return a dataframe

order_items = order_items.reset_index()

In [7]:
# relabel the frequency column to be 'quantity' and show dataframe

order_items.columns=np.where(order_items.columns==0, 'quantity', order_items.columns)

order_items

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,quantity
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1
...,...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,1
102421,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1
102422,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,1
102423,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,1
102424,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,1

In [8]:
# check dataframe

order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102425 entries, 0 to 102424
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             102425 non-null  object
 1   product_id           102425 non-null  object
 2   seller_id            102425 non-null  object
 3   shipping_limit_date  102425 non-null  object
 4   price                102425 non-null  float64
 5   freight_value        102425 non-null  float64
 6   quantity             102425 non-null  int64
dtypes: float64(2), int64(1), object(4)
memory usage: 5.5+ MB

In [9]:
# relabel index to 'unique_order_id' and starts from 0

order_items['transaction_id'] = order_items.index + 1

order_items

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,quantity,transaction_id
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,1
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,2
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,3
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,4
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,5
...,...,...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,1,102421
102421,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1,102422
102422,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,1,102423
102423,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,1,102424
102424,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,1,102425

In [10]:
# question to check: index does not reflect as column?

order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102425 entries, 0 to 102424
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             102425 non-null  object
 1   product_id           102425 non-null  object
 2   seller_id            102425 non-null  object
 3   shipping_limit_date  102425 non-null  object
 4   price                102425 non-null  float64
 5   freight_value        102425 non-null  float64
 6   quantity             102425 non-null  int64
 7   transaction_id       102425 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 6.3+ MB

In [11]:
# testing: checking with excel

order_items.loc[order_items['order_id'] == '6c355e2913545fa6f72c40cbca57729e']

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,quantity,transaction_id
43243,6c355e2913545fa6f72c40cbca57729e,32e18e89237933ebdaaebd78a27e7fa1,ca3bd7cd9f149df75950150d010fe4a2,2018-08-08 04:05:19,26.18,22.98,11,43244

In [12]:
#normalize special characters in geolocation table and change to english characters
#reset index so zip code prefix isn't the index

geolocation['city_name']=geolocation['geolocation_city'].apply(unidecode)
geolocation.head(6)

,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,city_name
geolocation_zip_code_prefix,,,,,
1037,-23.545621,-46.639292,sao paulo,SP,sao paulo
1046,-23.546081,-46.644820,sao paulo,SP,sao paulo
1046,-23.546129,-46.642951,sao paulo,SP,sao paulo
1041,-23.544392,-46.639499,sao paulo,SP,sao paulo
1035,-23.541578,-46.641607,sao paulo,SP,sao paulo
1012,-23.547762,-46.635361,são paulo,SP,sao paulo

In [13]:
#Group by city names to get mean of latitude and longitude coordinates for each city. 
#There are some with special characters that we will ignore since they're not valid names.

city_names = geolocation.groupby('city_name')['geolocation_lat','geolocation_lng'].mean()
city_names

C:\Users\saifu\AppData\Local\Temp/ipykernel_19848/4029609804.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  city_names = geolocation.groupby('city_name')['geolocation_lat','geolocation_lng'].mean()

                    geolocation_lat  geolocation_lng
city_name
'teresopolis             -22.392335       -42.989392
* cidade                 -25.571748       -49.334374
...arraial do cabo       -22.969370       -42.029834
4o centenario            -24.279801       -53.074723
4o. centenario           -24.271860       -53.069433
...                             ...              ...
xique-xique              -10.823373       -42.727130
zabele                    -8.076671       -37.097291
zacarias                 -21.050431       -50.052727
ze doca                   -3.276285       -45.654905
zortea                   -27.455778       -51.551720

[5969 rows x 2 columns]

In [14]:
#Merged customer dataset and city names dataframe on city name to get latitude and longitude for each customer_unique_id
#Note: if running this cell more than once, the latitude and longitude columns will keep increasing. Reset kernel to get correct output. 

customer=pd.merge(customer, city_names, left_on='customer_city', right_on='city_name')

customer

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.534057,-47.398437
1,b9885472fa562ddc1cb5333a42b654fc,2767ebe1fedf70562aa588a37a23080a,14401,franca,SP,-20.534057,-47.398437
2,5dca924cc99eea2dc5ba40d11ec5dd0f,2761fee7f378f0a8d7682d8a3fa07ab1,14409,franca,SP,-20.534057,-47.398437
3,de3fa59dd658cd8b47a1634125047c01,fa87e5558d2010f19641ca49363d5a1a,14405,franca,SP,-20.534057,-47.398437
4,0489975a325480c9e385e9f135bb13c3,b577af9a54b023b4bcc51f69bb937f1c,14406,franca,SP,-20.534057,-47.398437
...,...,...,...,...,...,...,...
99370,947fb484a23e534236b4e81edb291b7e,22c2155762f4b698b0d96fe900863bdb,17590,queiroz,SP,-21.798873,-50.240025
99371,c2c75371ac7de122517db15e9765379b,56b479a26c2aafeba20e05b7e1fc2bee,12180,natividade da serra,SP,-23.377650,-45.443992
99372,1f7d089d663f7a5be55536aa0a49bbbc,a6d1eaa6d3f0a8f5440b3ba9d6331890,96115,monte bonito,RS,-31.638807,-52.415534
99373,f9a232e21b669e5a1063711f040cd360,5565d43d43220145dcdcde6cef348434,59518,sao rafael,RN,-5.803201,-36.886237
99374,ff6b440b2465bfaef05c675efb48cd15,e38a27b979a552e019e297ecc22dc67b,98860,eugenio de castro,RS,-28.527590,-54.145960

In [15]:
#Merged seller dataset and city names dataframe on city name to get latitude and longitude for each seller_id.

sellers = pd.merge(sellers, city_names, left_on='seller_city', right_on='city_name')

sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.900861,-47.068536
1,781a66c0d89e30814d49fe8b5e14cd07,13064,campinas,SP,-22.900861,-47.068536
2,b0b346d3a89f5eb4c2968af3f083cd43,13105,campinas,SP,-22.900861,-47.068536
3,6524b847b982cd56bb5d4b02b776ee42,13042,campinas,SP,-22.900861,-47.068536
4,fc38b5dceee1a730fad8853453437fbd,13073,campinas,SP,-22.900861,-47.068536
...,...,...,...,...,...,...
3023,9d5a9018aee56acb367ba9c3f05d1d6a,74930,aparecida de goiania,GO,-16.777318,-49.275763
3024,228e4c1a0be164f613d41c24345f9d2c,86360,bandeirantes,PR,-22.637663,-50.963099
3025,747e73c01a4593d4cf60dcf970fd2689,55602,vitoria de santo antao,PE,-8.116883,-35.295246
3026,95cca791657aabeff15a07eb152d7841,85950,palotina,PR,-24.285797,-53.837678
3027,9d489893ff6af05029671b785f54b998,13613,leme,SP,-22.185288,-47.385621

In [16]:
# Merging order_payments 

new_columns = order_payments[["order_id", "order_payment_id"]]

orders = orders.merge(new_columns, on="order_id")

orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_payment_id
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,10771
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,44247
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,91131
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,7653
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,11177
...,...,...,...,...,...,...,...,...,...
103881,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,50535
103882,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,48751
103883,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,96281
103884,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1027
103885,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,76742

In [17]:
new_columns = order_items[["order_id", "transaction_id"]]

orders = orders.merge(new_columns, on="order_id")

orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_payment_id,transaction_id
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,10771,91643
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,44247,91643
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,91131,91643
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,7653,33488
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,11177,28586
...,...,...,...,...,...,...,...,...,...,...
107019,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,50535,62128
107020,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,48751,39771
107021,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,96281,52538
107022,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1027,7160
107023,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,76742,41096

In [18]:
orders['order_index'] = orders.index + 1

orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_payment_id,transaction_id,order_index
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,10771,91643,1
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,44247,91643,2
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,91131,91643,3
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,7653,33488,4
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,11177,28586,5
...,...,...,...,...,...,...,...,...,...,...,...
107019,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,50535,62128,107020
107020,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,48751,39771,107021
107021,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,96281,52538,107022
107022,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1027,7160,107023
107023,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,76742,41096,107024

In [19]:
reviews['review_serial_id'] = reviews.index + 1

reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_serial_id
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,2
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,3
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,4
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,5
...,...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42,99996
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43,99997
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13,99998
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43,99999
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49,100000

In [20]:
reviews["review_comment_message"] = reviews["review_comment_message"].astype('str')


reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_serial_id
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,nan,2018-01-18 00:00:00,2018-01-18 21:46:59,1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,nan,2018-03-10 00:00:00,2018-03-11 03:05:13,2
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,nan,2018-02-17 00:00:00,2018-02-18 14:36:24,3
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,4
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,5
...,...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,nan,2017-12-09 00:00:00,2017-12-11 20:06:42,99996
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43,99997
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,nan,2018-07-01 00:00:00,2018-07-02 12:59:13,99998
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43,99999
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49,100000

In [21]:
reviews["review_comment_message"] = reviews["review_comment_message"].apply(unidecode)

reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_serial_id
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,nan,2018-01-18 00:00:00,2018-01-18 21:46:59,1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,nan,2018-03-10 00:00:00,2018-03-11 03:05:13,2
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,nan,2018-02-17 00:00:00,2018-02-18 14:36:24,3
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,4
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabens lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,5
...,...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,nan,2017-12-09 00:00:00,2017-12-11 20:06:42,99996
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rapida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43,99997
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,nan,2018-07-01 00:00:00,2018-07-02 12:59:13,99998
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43,99999
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49,100000

In [22]:
new_columns = reviews[["order_id", "review_serial_id"]]

orders = orders.merge(new_columns, on="order_id")

orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_payment_id,transaction_id,order_index,review_serial_id
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,10771,91643,1,33027
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,44247,91643,2,33027
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,91131,91643,3,33027
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,7653,33488,4,29372
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,11177,28586,5,4351
...,...,...,...,...,...,...,...,...,...,...,...,...
107671,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,50535,62128,107020,49071
107672,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,48751,39771,107021,56101
107673,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,96281,52538,107022,44187
107674,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1027,7160,107023,6832
107675,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,76742,41096,107024,23721

In [23]:
orders = orders.set_index('order_index')
sellers = sellers.set_index('seller_id')
customer = customer.set_index('customer_id')
order_items.set_index('transaction_id')
products = products.set_index('product_id')
order_payments = order_payments.set_index('order_payment_id')
reviews = reviews.set_index('review_serial_id')

order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
order_payment_id,,,,,
1,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
2,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
3,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
4,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
5,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [24]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
pgcon = psycopg2.connect(host = 'localhost', user = 'postgres', password = 'bida123')
pgcursor = pgcon.cursor()
pgcon.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
pgcursor.execute('DROP DATABASE IF EXISTS Final_Project')
pgcursor.execute('CREATE DATABASE Final_Project')
pgcon.close()
pgcon = psycopg2.connect(host = 'localhost', database = 'final_project', user = 'postgres', password = 'bida123')
engine = create_engine('postgresql+psycopg2://postgres:bida123@localhost/final_project')

In [26]:
customer.to_sql('customer', engine, if_exists='replace', index = True)
geolocation.to_sql('geolocation', engine, if_exists='replace', index = True)
order_items.to_sql('order_items', engine, if_exists='replace', index = True)
order_payments.to_sql('order_payments', engine, if_exists='replace', index = True)
reviews.to_sql('reviews', engine, if_exists='replace', index = True)
orders.to_sql('orders', engine, if_exists='replace', index = True)
products.to_sql('products', engine, if_exists='replace', index = True)
sellers.to_sql('sellers', engine, if_exists='replace', index = True)
product_category_name_translation.to_sql('product_category_name_translation', engine, if_exists='replace', index = True)

In [27]:
engine.execute('ALTER TABLE customer ALTER COLUMN customer_zip_code_prefix TYPE int USING customer_zip_code_prefix :: integer')
engine.execute('ALTER TABLE customer ALTER COLUMN customer_id TYPE varchar(64)')
engine.execute('ALTER TABLE customer ALTER COLUMN customer_unique_id TYPE varchar(64)')
engine.execute('ALTER TABLE customer ALTER COLUMN customer_city TYPE varchar(64)')
engine.execute('ALTER TABLE customer ALTER COLUMN customer_state TYPE varchar(64)')

engine.execute('ALTER TABLE geolocation ALTER COLUMN geolocation_zip_code_prefix TYPE int USING geolocation_zip_code_prefix :: integer')
engine.execute('ALTER TABLE geolocation ALTER COLUMN geolocation_lat TYPE decimal')
engine.execute('ALTER TABLE geolocation ALTER COLUMN geolocation_lng TYPE decimal')
engine.execute('ALTER TABLE geolocation ALTER COLUMN geolocation_city TYPE varchar(64)')
engine.execute('ALTER TABLE geolocation ALTER COLUMN geolocation_state TYPE varchar(2)')

engine.execute('ALTER TABLE order_items ALTER COLUMN order_id TYPE varchar(64)')
engine.execute('ALTER TABLE order_items ALTER COLUMN product_id TYPE varchar(64)')
engine.execute('ALTER TABLE order_items ALTER COLUMN seller_id TYPE varchar(64)')
engine.execute('ALTER TABLE order_items ALTER COLUMN shipping_limit_date TYPE timestamp USING shipping_limit_date::timestamp without time zone')
engine.execute('ALTER TABLE order_items ALTER COLUMN price TYPE decimal')
engine.execute('ALTER TABLE order_items ALTER COLUMN freight_value TYPE decimal')

engine.execute('ALTER TABLE order_payments ALTER COLUMN order_id TYPE varchar(64)')
engine.execute('ALTER TABLE order_payments ALTER COLUMN payment_sequential TYPE int USING payment_sequential :: integer')
engine.execute('ALTER TABLE order_payments ALTER COLUMN payment_type TYPE varchar(20)')
engine.execute('ALTER TABLE order_payments ALTER COLUMN payment_installments TYPE int USING payment_installments :: integer')
engine.execute('ALTER TABLE order_payments ALTER COLUMN payment_value TYPE decimal')

engine.execute('ALTER TABLE reviews ALTER COLUMN order_id TYPE varchar(64)')
engine.execute('ALTER TABLE reviews ALTER COLUMN review_id TYPE varchar(64)')
engine.execute('ALTER TABLE reviews ALTER COLUMN review_score TYPE int USING review_score :: integer')
engine.execute('ALTER TABLE reviews ALTER COLUMN review_comment_title TYPE varchar(180)')
engine.execute('ALTER TABLE reviews ALTER COLUMN review_comment_message TYPE text')
engine.execute('ALTER TABLE reviews ALTER COLUMN review_creation_date TYPE timestamp USING review_creation_date::timestamp without time zone')
engine.execute('ALTER TABLE reviews ALTER COLUMN review_answer_timestamp TYPE timestamp USING review_answer_timestamp::timestamp without time zone')

engine.execute('ALTER TABLE orders ALTER COLUMN order_id TYPE varchar(64)')
engine.execute('ALTER TABLE orders ALTER COLUMN customer_id TYPE varchar(64)')
engine.execute('ALTER TABLE orders ALTER COLUMN order_status TYPE varchar(20)')
engine.execute('ALTER TABLE orders ALTER COLUMN order_purchase_timestamp TYPE timestamp USING order_purchase_timestamp::timestamp without time zone')
engine.execute('ALTER TABLE orders ALTER COLUMN order_approved_at TYPE timestamp USING order_approved_at::timestamp without time zone')
engine.execute('ALTER TABLE orders ALTER COLUMN order_delivered_carrier_date TYPE timestamp USING order_delivered_carrier_date::timestamp without time zone')
engine.execute('ALTER TABLE orders ALTER COLUMN order_delivered_customer_date TYPE timestamp USING order_delivered_customer_date::timestamp without time zone')
engine.execute('ALTER TABLE orders ALTER COLUMN order_estimated_delivery_date TYPE timestamp USING order_estimated_delivery_date::timestamp without time zone')

engine.execute('ALTER TABLE products ALTER COLUMN product_id TYPE varchar(64)')
engine.execute('ALTER TABLE products ALTER COLUMN product_category_name TYPE varchar(64)')
engine.execute('ALTER TABLE products ALTER COLUMN product_name_length TYPE int USING product_name_length :: integer')
engine.execute('ALTER TABLE products ALTER COLUMN product_description_length TYPE int USING product_description_length :: integer')
engine.execute('ALTER TABLE products ALTER COLUMN product_photos_qty TYPE int USING product_photos_qty :: integer')
engine.execute('ALTER TABLE products ALTER COLUMN product_weight_g TYPE int USING product_weight_g :: integer')
engine.execute('ALTER TABLE products ALTER COLUMN product_length_cm TYPE int USING product_length_cm :: integer')
engine.execute('ALTER TABLE products ALTER COLUMN product_height_cm TYPE int USING product_height_cm :: integer')
engine.execute('ALTER TABLE products ALTER COLUMN product_width_cm TYPE int USING product_width_cm :: integer')

engine.execute('ALTER TABLE sellers ALTER COLUMN seller_id TYPE varchar(64)')
engine.execute('ALTER TABLE sellers ALTER COLUMN seller_zip_code_prefix TYPE int USING seller_zip_code_prefix :: integer')
engine.execute('ALTER TABLE sellers ALTER COLUMN seller_city TYPE varchar(64)')
engine.execute('ALTER TABLE sellers ALTER COLUMN seller_state TYPE varchar(64)')

engine.execute('ALTER TABLE product_category_name_translation ALTER COLUMN product_category_name TYPE varchar(64)')
engine.execute('ALTER TABLE product_category_name_translation ALTER COLUMN product_category_name_english TYPE varchar(64)')